<h1>Admin Dashboard</h1>

<div class="">
  <h3>All Orders</h3>
  <table>
    <th>Order no.</th>
    <th>Order date</th>
    <th>User</th>
  </table>
</div>

<%= link_to "View All Users",  admin_users_path %>
