<h1>Past Orders</h1>

<table class= "table">
    <tr>
      <th>Order #</th>
    </tr>

      <% @orders.each do |order| %>
      <tr>
        <td> <%= link_to order.id, order_path(order)  %> </td>
      </tr>
      <% end %>
</table>
