<h1>Thanks for placing your order <%= @user.full_name %></h1>

<div class="">
  <p>Your order has been placed</p>
  <p>Total Price: <%= @order.total_price %></p>
  <p>We look forward to the satisfaction you will get from our pickled goods.</p>
</div>
