<h2>Sales Stats</h2>
<table class="table">
  <tr>
    <td><h4>Bestselling item:</h4></td>
    <td><h2> <%= @orders.bestselling[0].title %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Revenue all time:</h4></td>
    <td><h2> <%= @orders.total_revenue %> </h2></td>
  </tr>
  <tr>
    <td><h4>Total Revenue last 7 days:</h4></td>
    <td><h2> <%= @orders.trailing_revenue %> </h2></td>
  </tr>
</table>
