.retired {
  color: #a0030b
}
.thumbnail {
  height: 40em;
}

.thumbnail img {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.centered {
  position: absolute;
  top: 40%;
  width: 80%;
  text-align: center;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.carousel img {
  width: 100%;
}

.carousel-inner {
  height: 400px;
}

.carousel-caption {
  top: 100px;
}

.headshot {
  left: 200px;
  width: 150px;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}
