
.thumbnail {
  height: 40em;
}

.thumbnail img {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.centered {
  position: absolute;
  /*left: 50%;*/
  top: 40%;
  width: 80%;
  text-align: center;
}

.checkbox-list input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.checkbox-list input[type="checkbox"] + label {
  display: inline-block;
  margin-left: 10%;
  width: 80%;
}
